/*Start fix menu nav*/
.header-navbar {
    height: 77px;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
}
/*End menu nav*/
.productGrid .card {
    min-height: 317px;
}

.sidebar-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px; /* ajusta según tu layout */
    overflow-y: auto;
    background: #fff; /* o el color de fondo de tu menú */
    z-index: 1030; /* asegúrate que esté encima del contenido */
}
